@charset "UTF-8";

/*
 * Design Style
 * DriveTech CSS Framework
 * Version 0.0.1
 */



/* =============================================
 * Text
 * ============================================= */

hr { height:0;-moz-box-sizing:content-box;box-sizing:content-box;margin-top:10px;margin-bottom:10px; border:0;border-top:1px solid #eee; }

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-weight:500;padding:0.3em; }

h1,.h1 {   font-size: 36px;  } /* +6 */
h2,.h2 {   font-size: 30px;  } /* +6 */
h3,.h3 {   font-size: 24px;  } /* +6 */
h4,.h4 {   font-size: 18px;  } /* +4 */
h5,.h5 {   font-size: 14px;  } /* +2 */
h6,.h6 {   font-size: 12px;  } 

h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small,
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small { font-size:0.55em;color:#999; }

/* =============================================
 * Link
 * ============================================= */

a { text-decoration:none; }

/* =============================================
 * box example
 * ============================================= */

.box-example { position:relative;padding:45px 15px 15px;margin:0 -15px 15px;border-color:#E5E5E5 #EEE #EEE;border-style:solid;border-width:1px 0;-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);box-shadow:inset 0 3px 6px rgba(0,0,0,.05); }
.box-example:after { position:absolute;top:15px;left:15px;font-size:12px;font-weight:700;color:#959595;text-transform:uppercase;letter-spacing:1px;content:"Example"; }
.box-example { margin-right:0;margin-left:0;background-color:#FFF;border-color:#DDD;border-width:1px;border-radius:4px 4px 0 0;-webkit-box-shadow:none;box-shadow:none; }

/* =============================================
 * Images
 * ============================================= */

.img-rounded { border-radius:6px; }
.img-circle { border-radius:50%; }
.img-thumbnail { display:inline-block;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }

/* =============================================
 * Alert
 * ============================================= */

.alert-success,.alert-warning,.alert-info,.alert-error { padding:20px 15px; }
.alert-success  { background-color: #2ECC71; }
.alert-warning  { background-color: #F39C12; }
.alert-info     { background-color: #03A9F4; }
.alert-error    { background-color: #F44336; }

/* =============================================
 * Label
 * ============================================= */

.label-success,.label-warning,.label-info,.label-error { padding:10px 15px;color:#FFF; }
.label-success  { background-color: #2ECC71; }
.label-warning  { background-color: #F39C12; }
.label-info     { background-color: #03A9F4; }
.label-error    { background-color: #F44336; }

/* =============================================
 * Badge
 * ============================================= */

.badge-success,.badge-warning,.badge-info,.badge-error { padding:5px 8px;border-radius:50%;color:#FFF; }
.badge-success  { background-color: #2ECC71; }
.badge-warning  { background-color: #F39C12; }
.badge-info     { background-color: #03A9F4; }
.badge-error    { background-color: #F44336; }

/* =============================================
 * Page Header
 * ============================================= */

.page-header { padding-bottom:9px;margin:5px 0 5px;border-bottom:1px solid #EEE; }